body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  color: white;
}

.App .header {
  height: 180px;
  padding: 30px 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App .gnb {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.App .gnb .gnb-list {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}
.App .gnb .gnb-list:hover {
  font-weight: bold;
}

.App .wrap {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}